**/__pycache__
*.pyc
*.pyo
*.pyd
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.log
*.bak
*.swp
*.DS_Store
Thumbs.db
env/
venv/
.env/
.pytest_cache/
.mypy_cache/
dist/
build/
*.egg-info/
node_modules/
*.orig
